html {
  font-family: 'Roboto', sans-serif;
  background-color: #f0eae9;
}
body {
  width: auto;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.container {
  max-width: 980px;
}
h1 {
  font-weight: 600;
}
h2 {
  font-weight: 300;
}
p {
  font-size: 1rem;
}
li {
  font-size: 1rem;
}
/* Navigation */
.navbar {
  position: relative;
  display: flex;
  align-items: center;
  padding: .5rem 1rem;
}weight
.navbar-brand .navbar-light {
  color: #eee;
}
.navbar-brand {
  display: inline-block;
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-expand-md {
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.navbar-custom {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0.04);
}
.text-muted {
  color: #6c757d !important;
}
.small, small {
  font-size: 80%;
  font-weight: lighter;
}
.navbar > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar-expand-md .navbar-collapse {
  display: flex !important;
  flex-basis: auto;
}
.navbar-collapse {
  flex-grow: 1;
  align-items: center;
}
.navbar-expand-md .navbar-nav {
  flex-direction: row;
}
.navbar-nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
ul {
  margin-top: 0;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, .5);
}
.navbar-expand-md .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
}
button:not(:disabled) {
  cursor: pointer;
}
.nav-link {
  display: block;
  padding: .5rem 1rem;
  text-decoration: none;
}
.btn {
  font-weight: 400;
  text-align: center;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  text-decoration: none;
}

/*Content*/
article {
  display: block;
}
section{
  width: 75%;
}
.py-4 {
  padding-bottom: 1.5rem !important;
  padding-top: 1.5rem !important;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row .row-1 {
  position: relative;
}

.justify-content-center {
  justify-content: center !important;
}
.col {
  position: relative;
  width: 100%
  padding-right: 15px;
  padding-left: 15px;
}
.col-1 .col-md-7 .col-md-5 {
  flex: 0 0 100%;
  max-width: 100%;
}
.mt-3 {
  margin-top: 1rem !important;
}
/*Degree section*/
.mb-3 {
  margin-bottom: 1rem !important;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}
.card-body {
  padding: 1.25rem;
}
.col-md-7 {
  max-width: 58.333333%;
}
.col-md-5 {
  max-width: 41.666667%;
}
.btn-card {
  position: absolute;
  padding-left: 500px;
  padding-top: 15px;
  text-decoration: none;
}
.btn-primary {
  color: #fff;
  background-color: #98c495;
  border-color: #98c495;
  border-radius: 4rem;
  text-decoration: none;
}
.btn-block {
  display: block;
  width: auto;
  height: 3rem;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: rgba(0,0,0,.5);
}
.btn:hover {
  background-color: #89b386;
  transition: background-color .15s ease-in-out;
  text-decoration: none;
}
.btn-login {
  width: 100px;
}
.moddec {
  font-size: 1.1rem;
}
/*Degree List*/
.row-2 {
  width: auto;
}
.collapsible {
  background-color: #f0eae9;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 720px;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1rem;
}
.coll2 {
  position: relative;
}
.active, .collapsible:hover {
  background-color: #ccc;
  transition: background-color .15s ease-in-out;
}
.content {
  padding 0 18px;
  display: block;
  overflow: hidden;
  background-color: #fff;
}
.collapsible:after {
  content: '\02795';
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2796";
}
form .row-2 {
  justify-content: center;
}
.btn-submit {
  width: auto;
  margin-top: 10px;
}
.btn-mod {
  padding-left: 40px;
  padding-right: 40px;
}
.btn-ass {
  padding-left: 40px;
  padding-right: 40px;
}
::after, ::before {
  box-sizing: border-box;
}
